/* CSS Slideout.js */
body {
  width: 100%;
  height: 100%;
background-color: black;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  height: 644px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

/* Custom */
#main {
  background: white;
  height: 644px !important;
  position: fixed;
}

#navbar-main {
  background: #353432;
 
}


#navbar-main ul li a {
  border-radius: 0;
  color:#d0d0d0;
  border-bottom:1px solid #3e3c3a;

}
/*----------*/
.FormSubmit
{
  width: 90%;
  height: 68px;
  background-color: white;
  margin-left: 11px; 
  text-align: center;
  border: 1px solid #000;
  border-radius: 2px;
  opacity: 0.9;

}

.Support
{
  width: 90%;
  height: 45px;
  padding-top: 10px;
  margin-left: 11px; 
  text-align: center;
}
.Support p
{
  color:#d0d0d0;
  margin-top: -25px;
  margin-left: 45px;
}
.FormReg
{
  width: 90%;
  height: 44px;
  background-color: #f5ae1b;
  margin-left: 11px; 
  margin-top: 10px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 2px;
}
.FormSubmit p, .FormReg p
{
  text-transform: uppercase;
  padding-top:4%; 
  font-weight: bold;
  font-size: 16px;
  color: #000;
}
nav h6
{
  padding-left: 8px;
  color:#7e7e7e;
  background-color: #3e3c3a;
  height: 24px;
  padding-top: 8px;
  font-size: 11px;

}
nav h6:nth-child(4)
{
  text-transform: uppercase;
}
.MainSiteLink
{
  background: none;
  margin-left: 60px;
  text-decoration: underline;
  text-transform: none;
  color: #d0d0d0;
}
.fa-bars
{
  color: black;
  margin-top: 6px;
}
article button
{
  margin-left: -10px;
}
.Registr
{
	width: 100vh;
	height: 545px;
	background-image: url(./img/background-black.png);
    background-size: 85px 73.5px;
    display: flex;
    flex-direction: column;
    padding-left: 14px;
    padding-top: 100px;
    display: none;
}
.Login,.Password
{
	width: 53.5%;
	height: 48px;
	border: 0;
    border: 1px solid #000;
    background-color: #292725;
    color: #7e7e7e;
    font-size: 16px;
    padding-left: 20px;
    border-radius: 2px;
}

.FormSubmit:nth-child(3)
{
   width: 53.5%;
   margin: 0;
   margin-top: 12px;
}
.FormReg:nth-child(4)
{
   width: 53.5%;
   margin: 0;
   margin-top: 10px;
}
.Forgot
{
	margin-top: 10px;
}
.Forgot p
{
	color: #7e7e7e;
	padding-left: 253px;

}
/*#navbar-main ul li :focus {
  background-color: black;
  color: #f5ae1b;
  cursor: default;
}*/
#navbar-main ul li :focus {
  background-color: #353432;
  cursor: default;
}
.Add
{
	width: 100vh;
	height: 545px;
	background-image: url(./img/background-black.png);
    background-size: 85px 73.5px;
    padding-left: 13px;
    padding-top: 9px;
    padding-bottom: 12px;
    overflow: scroll;
    display: none;
}
.home-icon
{
	width: 27px;
	height: 25px;
	margin-left: 10px;
	background:url(./img/home-icon.png);
	background-size: cover;
	background-position: center center;

}

.sport-icon
{
	background:url(./img/sport-icon.png);
	background-size: cover;
	background-position: center center;
}
.virtual-football-icon
{
    background:url(./img/virtual-football-icon.png);
	background-size: cover;
	background-position: center center;
}
.virtyal-basketball-icon
{
	background:url(./img/virtyal-basketball-icon.png);
	background-size: cover;
	background-position: center center;
}
.betGames-icon
{
	background:url(./img/betGames-icon.png);
	background-size: cover;
	background-position: center center;
}
.popol-icon
{
	background:url(./img/popol-icon.png);
	background-size: cover;
	background-position: center center;
}
.vivod-icon
{
	background:url(./img/vivod-icon.png);
	background-size: cover;
	background-position: center center;
}
.history-icon
{
	background:url(./img/history-icon.png);
	background-size: cover;
	background-position: center center;

}
.bets-icon
{
	background:url(./img/bets-icon.png);
	background-size: cover;
	background-position: center center;
}
.bets2-icon
{
	background:url(./img/bets2-icon.png);
	background-size: cover;
	background-position: center center;
}
.format-icon
{
	background:url(./img/format-icon.png);
	background-size: cover;
	background-position: center center;
}
.lang-icon
{
	background:url(./img/lang-icon.png);
	background-size: cover;
	background-position: center center;
}
.ruls-icon
{
	background:url(./img/ruls-icon.png);
	background-size: cover;
	background-position: center center;	
}
.Support i
{
	color:#d0d0d0;
	margin-left: -130px;
}
.Main_Page
{
	margin-top: -30px;
	margin-left: 40px;
}
.YellowBlock
{
	width: 53.5%;
	height: 150px;
	border-radius: 2px;
	background-image: linear-gradient(180deg,#fddb14 0%,#f5ae1b 100%);
	display: flex;
	align-items: center;
	flex-direction: column;
}
.UserDepName
{
	width: 90%;
	height: 17px;
	margin-top: 10px;
	display: flex;
}
.UserDepName p
{
   font-size: 14px;
   font-weight: bold;
}
.UserDepName span
{
	padding-left: 65px;
	font-size: 14px;
}

.FormSubmit .UserDepName 
{
	width: 95%;
	height: 17px;
	margin-top: 8px;
	display: flex;
	margin-left: 10px;
}

.FormSubmit .UserDepName p
{
   font-size: 13px;
   font-weight: bold;
   margin-top: -8px;
   text-transform: none;

}
.FormSubmit .UserDepName span
{
	padding-left: 45px;
	font-size: 13px;
}
.UserDepBalance p
{
   font-size: 36px;
   margin-top: 35px;
}
.UserDepBalance 
{
 display: flex;
 align-items: center;
}
.FormSubmit .UserDepBalance p
{
   font-size: 22px;
   margin-top: -1px;
   margin-left: 12px;
   font-weight: normal;
}
.GRN
{
	width: 26px;
	height: 18px;
	border: 1px solid #000;
    border-radius: 2px;
    padding-left:2px;
    margin-left: 5px;
    font-size: 13px;
    margin-top: 15px;
}
.FormSubmit .GRN
{
	width: 24px;
	height: 16px;
	font-size: 10px;
	border: 1px solid #000;
    border-radius: 2px;
    margin-top: -3px;
    padding-left:1px;
    margin-left: 5px;
}
.UserDepSummary span:first-child
{
	padding-right: 113px;
	font-size: 13px;
}
.DepTitle
{
	width: 250px;
	height: 20px;
	margin-left: 56px;
	margin-top:20px; 
	text-align: center;
	font-size: 18px;
	color: white;
}

.SubDepTitle
{
	width: 300px;
	height: 15px;
	color: #7e7e7e;
	margin-left: 52px;
	margin-top: 5px;
	font-size: 12px;
}
.WalletOne
{
	width: 355px;
	height: 60px;
	background-color: white;
	border-radius: 3px;
	margin-top: 10px;
	background-image: url(./img/w1-horizontal.png);
    background-size: auto 32px;
    background-position: center;
    background-repeat: no-repeat;
}
.LiqPay
{
   	width: 355px;
	height: 60px;
	background-color: white;
	border-radius: 3px;
	margin-top: 10px;
	background-image: url(./img/liqpay.png);
    background-size: auto 32px;
    background-position: center;
    background-repeat: no-repeat;	
}
.DepTerminal
{
	width: 365px;
	text-align: center;
	font-size: 15px;
	color: white;
	margin-top: 20px;
	line-height: 17px;
}
.DepTerminalIbox
{
	width: 140px;
	height: 100px;
	background-color: white;
	margin-left: 35px;
	border-radius: 3px;
	margin-top: 15px;
	background-image: url(./img/ptica_vetka_oblaka_nebo_siluet_57226_1280x800.png);
	background-position: center;
	background-size: cover;
}
.Bank24
{
    background-image: url(./img/bank24.png);
	background-position: center;
	background-size: cover;
}
.ePay
{
    background-image: url(./img/e-pay.png);
	background-position: center;
	background-size: cover;
}	
.Privat
{
   background-image: url(./img/privat.png);
	background-position: center;
	background-size: cover;
}
.WidePay
{
	background-image: url(./img/widepay.png);
	background-position: center;
	background-size: cover;
}
.DepTerminalCity
{
	width: 140px;
	height: 100px;
	background-color: white;
	margin-left: 190px;
	margin-top: -100px;
    border-radius: 3px;	
    background-image: url(./img/city-pay.png);
	background-position: center;
	background-size: cover;
}

.RegulPay
{
    background-image: url(./img/regulpay.png);
	background-position: center;
	background-size: cover;	
}
.AlfaPay
{
	background-image: url(./img/alfapay.png);
	background-position: center;
	background-size: cover;

}
.EasyPay
{
    background-image: url(./img/easypay.png);
	background-position: center;
	background-size: cover;
}
.Qiwi
{
	background-image: url(./img/qiwi.png);
	background-position: center;
	background-size: cover;
}
.Withdrawal
{
	width: 100vh;
	height: 545px;
     background-image: url(./img/background-black.png);
    background-size: 85px 73.5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: scroll;
    display: none;

}
.TextOpen
{
	width: 360px;
	height: 55px;
    margin-bottom: 150px;
    text-align: center;
    margin-left: 8px;
    font-size: 14px;
    color: #7e7e7e;
}
.IconOpen
{
	width: 85px;
	height: 85px;
	margin-left: 155px;
    background-image: url(./img/vivod-icon.png);
	background-position: center;
	background-size: cover;

}
.ButtonOpen
{
	width: 327px;
	height: 44px;
	background-color: white;
	margin-left: 25px;
	margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    padding-top:11px; 
    font-weight: bold;
}
.BetsHistory
{
	width: 100vh;
	height: 545px;
	background-color: #353432;
}
.HistorySelect
{
	width: 100vh;
	height: 44px;
	display: flex;
	text-align: center;
	font-size: 13px;
	background-color: #292725;
    color: #acacac;
    text-transform: uppercase;

}
.HistorySelectOne
{
	width:195px;
	height: 100%;
	padding-top: 12px;
	color: white;
	border-bottom: 3px solid #f5ae1b;
    border-top: 3px solid transparent;
}
.HistorySelectTwo
{
	width:195px;
	height: 100%;
	padding-top: 12px;
	border-top: 3px solid transparent;
}
.Payment
{
	width: 350px; 
	height:44px;
	margin-left: 12px;	
	border-radius: 2px;
    background-color: #ebebeb;
    margin-top: 10px;
    padding-top: 9px;
}
.Payment span:first-child
{
	font-size: 14px;
	padding-left: 10px;
}
.Payment span:nth-child(2)
{
	padding-left: 140px;
	font-size: 16px;
}
.Footer
{
	width: 100vh;
	height: 55px;
	display: flex;
	align-content: stretch;
	background-color: #292725;
	color: #acacac;
}
.container
{
	height: 44px;
}
.Sport,.Live,.Favorites,.SignIn,.Kupon
{
	width: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.Kupon
{
	background-color: #f5ae1b;
    color: #000 !important;
}

.iconFooter
{
	width: 35px;
	height: 24px;
    background-image: url(./img/sport-footer.png);
	background-position: center;
	background-size: cover;	
}
.Live .iconFooter
{

    background-image: url(./img/live-footer.png);
	background-position: center;
	background-size: cover;	
}
.Favorites .iconFooter
{

    background-image: url(./img/favorites-footer.png);
	background-position: center;
	background-size: cover;	
}
.SignIn .iconFooter
{
    background-image: url(./img/popol-icon.png);
	background-position: center center;
	background-size: cover;	
}
.Kupon .iconFooter
{

    background-image: url(./img/kupon-footer.png);
	background-position: center;
	background-size: cover;	

}
.textFooter
{
	font-size: 10px;
	margin-top: 3px;
}