/* CSS Slideout.js */
body {
  width: 100%;
  height: 100%;
background-color: black;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  height: 643.5px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;

}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

/* Custom */
#main {
  background: white;
  height: 643.5px !important;
  position: fixed;
  width: 375px;
}

#navbar-main {
  background: #353432;
 
}


#navbar-main ul li a {
  border-radius: 0;
  color:#d0d0d0;
  border-bottom:1px solid #3e3c3a;

}
/*----------*/
.FormSubmit
{
  width: 90%;
  height: 68px;
  background-color: white;
  margin-left: 11px; 
  text-align: center;
  border: 1px solid #000;
  border-radius: 2px;
  opacity: 0.9;

}

.Support
{
  width: 90%;
  height: 45px;
  padding-top: 10px;
  margin-left: 5px; 
  text-align: center;
}
.Support p
{
  color:#d0d0d0;
  margin-top: -23px;
  margin-left: 55px;
}
.FormReg
{
  width: 90%;
  height: 44px;
  background-color: #f5ae1b;
  margin-left: 11px; 
  margin-top: 10px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 2px;
}
.FormSubmit p, .FormReg p
{
  text-transform: uppercase;
  padding-top:4%; 
  font-weight: bold;
  font-size: 16px;
  color: #000;
}
nav h6
{
  padding-left: 8px;
  color:#7e7e7e;
  background-color: #3e3c3a;
  height: 24px;
  padding-top: 8px;
  font-size: 11px;

}
nav h6:nth-child(4)
{
  text-transform: uppercase;
}
.MainSiteLink
{
  background: none;
  margin-left: 60px;
  text-decoration: underline;
  text-transform: none;
  color: #d0d0d0;
}
.fa-bars
{
  color: black;
  margin-top: 6px;
}
article button
{
  margin-left: -10px;
}
.Registr
{
	width: 100vh;
	height: 545px;
	background-image: url(./img/background-black.png);
    background-size: 85px 73.5px;
    display: flex;
    flex-direction: column;
    padding-left: 14px;
    padding-top: 100px;
    display: none;
}
.Login,.Password
{
	width: 53.5%;
	height: 48px;
	border: 0;
    border: 1px solid #000;
    background-color: #292725;
    color: #7e7e7e;
    font-size: 16px;
    padding-left: 20px;
    border-radius: 2px;
}

.FormSubmit:nth-child(3)
{
   width: 53.5%;
   margin: 0;
   margin-top: 12px;
}
.FormReg:nth-child(4)
{
   width: 53.5%;
   margin: 0;
   margin-top: 10px;
}
.Forgot
{
	margin-top: 10px;
}
.Forgot p
{
	color: #7e7e7e;
	padding-left: 253px;

}
/*#navbar-main ul li :focus {
  background-color: black;
  color: #f5ae1b;
  cursor: default;
}*/
#navbar-main ul li :focus {
  background-color: #353432;
  cursor: default;
}
.nav > li > a:hover
{
      background-color: #353432;
  cursor: default;
}

.Add
{
	width: 375px;
	height: 545px;
	background-image: url(./img/background-black.png);
    background-size: 85px 73.5px;
    padding-left: 13px;
    padding-top: 9px;
    padding-bottom: 12px;
    overflow: scroll;
    display: none;
}
.home-icon
{
	width: 25px;
	height: 23px;
	margin-left: 10px;
	background:url(./img/home-icon.png);
	background-size: cover;
	background-position: center center;

}

.sport-icon
{
	background:url(./img/sport-icon.png);
	background-size: cover;
	background-position: center center;
}
.virtual-football-icon
{
    background:url(./img/virtual-football-icon.png);
	background-size: cover;
	background-position: center center;
}
.virtyal-basketball-icon
{
	background:url(./img/virtyal-basketball-icon.png);
	background-size: cover;
	background-position: center center;
}
.betGames-icon
{
	background:url(./img/betGames-icon.png);
	background-size: cover;
	background-position: center center;
}
.Casino-icon
{
	background:url(./img/casino-icon.png);
	background-size: cover;
	background-position: center center;
}
.popol-icon
{
	background:url(./img/popol-icon.png);
	background-size: cover;
	background-position: center center;
}
.vivod-icon
{
	background:url(./img/vivod-icon.png);
	background-size: cover;
	background-position: center center;
}
.history-icon
{
	background:url(./img/history-icon.png);
	background-size: cover;
	background-position: center center;

}
.bets-icon
{
	background:url(./img/bets-icon.png);
	background-size: cover;
	background-position: center center;
}
.bets2-icon
{
	background:url(./img/bets2-icon.png);
	background-size: cover;
	background-position: center center;
}
.format-icon
{
	background:url(./img/format-icon.png);
	background-size: cover;
	background-position: center center;
}
.lang-icon
{
	background:url(./img/lang-icon.png);
	background-size: cover;
	background-position: center center;
}
.ruls-icon
{
	background:url(./img/ruls-icon.png);
	background-size: cover;
	background-position: center center;	
}
.exit-icon
{
	background:url(./img/exit-icon.png);
	background-size: cover;
	background-position: center center;		
}
.Sup-icon
{
	width: 24px;
	height: 25px;
	background-color: red;
	margin-left: 45px;
	background:url(./img/support-icon.png);
	background-size: cover;
	background-position: center center;	
}
.Main_Page
{
	margin-top: -30px;
	margin-left: 40px;
}
.YellowBlock
{
	width: 97%;
	height: 150px;
	border-radius: 2px;
	background-image: linear-gradient(180deg,#fddb14 0%,#f5ae1b 100%);
	display: flex;
	align-items: center;
	flex-direction: column;
}
.UserDepName
{
	width: 90%;
	height: 17px;
	margin-top: 10px;
	display: flex;
}
.UserDepName p
{
   font-size: 14px;
   font-weight: bold;
}
.UserDepName span
{
	padding-left: 65px;
	font-size: 14px;
}

.FormSubmit .UserDepName 
{
	width: 95%;
	height: 17px;
	margin-top: 8px;
	display: flex;
	margin-left: 10px;
}

.FormSubmit .UserDepName p
{
   font-size: 13px;
   font-weight: bold;
   margin-top: -8px;
   text-transform: none;

}
.FormSubmit .UserDepName span
{
	padding-left: 45px;
	font-size: 13px;
}
.UserDepBalance p
{
   font-size: 36px;
   margin-top: 35px;
}
.UserDepBalance 
{
 display: flex;
 align-items: center;
}
.FormSubmit .UserDepBalance p
{
   font-size: 22px;
   margin-top: -1px;
   margin-left: 12px;
   font-weight: normal;
}
.GRN
{
	width: 26px;
	height: 18px;
	border: 1px solid #000;
    border-radius: 2px;
    padding-left:2px;
    margin-left: 5px;
    font-size: 13px;
    margin-top: 15px;
}
.FormSubmit .GRN
{
	width: 24px;
	height: 16px;
	font-size: 10px;
	border: 1px solid #000;
    border-radius: 2px;
    margin-top: -3px;
    padding-left:1px;
    margin-left: 5px;
}
.UserDepSummary span:first-child
{
	padding-right: 113px;
	font-size: 13px;
}
.DepTitle
{
	width: 250px;
	height: 20px;
	margin-left: 56px;
	margin-top:20px; 
	text-align: center;
	font-size: 18px;
	color: white;
}

.SubDepTitle
{
	width: 300px;
	height: 15px;
	color: #7e7e7e;
	margin-left: 52px;
	margin-top: 5px;
	font-size: 12px;
}
.WalletOne
{
	width: 355px;
	height: 60px;
	background-color: white;
	border-radius: 3px;
	margin-top: 10px;
	background-image: url(./img/w1-horizontal.png);
    background-size: auto 32px;
    background-position: center;
    background-repeat: no-repeat;
}
.LiqPay
{
   	width: 355px;
	height: 60px;
	background-color: white;
	border-radius: 3px;
	margin-top: 10px;
	background-image: url(./img/liqpay.png);
    background-size: auto 32px;
    background-position: center;
    background-repeat: no-repeat;	
}
.DepTerminal
{
	width: 350px;
	text-align: center;
	font-size: 15px;
	color: white;
	margin-top: 20px;
	line-height: 17px;
}
.DepTerminalIbox
{
	width: 140px;
	height: 100px;
	background-color: white;
	margin-left: 35px;
	border-radius: 3px;
	margin-top: 15px;
	background-image: url(./img/ptica_vetka_oblaka_nebo_siluet_57226_1280x800.png);
	background-position: center;
	background-size: cover;
}
.Bank24
{
    background-image: url(./img/bank24.png);
	background-position: center;
	background-size: cover;
}
.ePay
{
    background-image: url(./img/e-pay.png);
	background-position: center;
	background-size: cover;
}	
.Privat
{
   background-image: url(./img/privat.png);
	background-position: center;
	background-size: cover;
}
.WidePay
{
	background-image: url(./img/widepay.png);
	background-position: center;
	background-size: cover;
}
.DepTerminalCity
{
	width: 140px;
	height: 100px;
	background-color: white;
	margin-left: 190px;
	margin-top: -100px;
    border-radius: 3px;	
    background-image: url(./img/city-pay.png);
	background-position: center;
	background-size: cover;
}

.RegulPay
{
    background-image: url(./img/regulpay.png);
	background-position: center;
	background-size: cover;	
}
.AlfaPay
{
	background-image: url(./img/alfapay.png);
	background-position: center;
	background-size: cover;

}
.EasyPay
{
    background-image: url(./img/easypay.png);
	background-position: center;
	background-size: cover;
}
.Qiwi
{
	background-image: url(./img/qiwi.png);
	background-position: center;
	background-size: cover;
}
.Withdrawal
{
	width: 375px;
	height: 545px;
     background-image: url(./img/background-black.png);
    background-size: 85px 73.5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: scroll;
    display: none;

}
.TextOpen
{
	width: 360px;
	height: 55px;
    margin-bottom: 150px;
    text-align: center;
    margin-left: 8px;
    font-size: 14px;
    color: #7e7e7e;
}
.IconOpen
{
	width: 85px;
	height: 85px;
	margin-left: 155px;
    background-image: url(./img/vivod-icon.png);
	background-position: center;
	background-size: cover;

}
.ButtonOpen
{
	width: 327px;
	height: 44px;
	background-color: white;
	margin-left: 25px;
	margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    padding-top:11px; 
    font-weight: bold;
}
.BetsHistory
{
	width: 375px;
	height: 545px;
	background-color: #353432;
	display: none;
}
.HistorySelect
{
	width: 375px;
	height: 44px;
	display: flex;
	text-align: center;
	font-size: 13px;
	background-color: #292725;
    color: #acacac;
    text-transform: uppercase;

}
.HistorySelectOne
{
	width:195px;
	height: 100%;
	padding-top: 12px;
	color: white;
	border-bottom: 3px solid #f5ae1b;
    border-top: 3px solid transparent;
}
.HistorySelectTwo
{
	width:195px;
	height: 100%;
	padding-top: 12px;
	border-top: 3px solid transparent;
}
.Payment
{
	width: 350px; 
	height:44px;
	margin-left: 12px;	
	border-radius: 2px;
    background-color: #ebebeb;
    margin-top: 10px;
    padding-top: 9px;
}
.Payment span:first-child
{
	font-size: 14px;
	padding-left: 10px;
}
.Payment span:nth-child(2)
{
	padding-left: 140px;
	font-size: 16px;
}
.Footer
{
	width: 375px;
	height: 55px;
	display: flex;
	align-content: stretch;
	background-color: #292725;
	color: #acacac;
}
.container
{
	height: 44px;
}
.Sport,.Live,.Favorites,.SignIn,.Kupon
{
	width: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.Kupon
{
	background-color: #f5ae1b;
    color: #000 !important;
}

.iconFooter
{
	width: 37px;
	height: 24px;
    background-image: url(./img/sport-footer.png);
	background-position: center;
	background-size: cover;	
}
.Live .iconFooter
{

    background-image: url(./img/live-footer.png);
	background-position: center;
	background-size: cover;	
}
.Favorites .iconFooter
{

    background-image: url(./img/favorites-footer.png);
	background-position: center;
	background-size: cover;	
}
.SignIn .iconFooter
{
    background-image: url(./img/cash-icon.png);
	background-position: center center;
	background-size: cover;	
}
.Kupon .iconFooter
{

    background-image: url(./img/kupon-footer.png);
	background-position: center;
	background-size: cover;	

}
.textFooter
{
	font-size: 10px;
	margin-top: 3px;
}
/*--------*/
.first_main_page
{
  width: 375px;
  padding: 8px;
  background-color: #353432;
  overflow: scroll;
  height: 545px;
}
.search_input
{
    position: relative;
    display: inline-block;
    width: 100%;
    outline: none;
    margin-bottom: 8px;
}
.search_input input
{
    display: block;
    width: 100%;
    padding: 0 11px 0 32px;
    border-radius: 2px;
    border: 0;
    font-size: 16px;
    font-family: inherit;
    outline: none;
    height: 40px;
    padding-left: 12px;
}
#search_icon
{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    left: auto;
    color: #7e7e7e;
    margin-top: 5px;
}
#search_icon i
{
  margin-left: 10px;
}
.slider-box
{
  background: url(./img/football.jpg)no-repeat 50% 0/cover;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 0 8px; 
  border-radius: 3px;
  border: 1px solid #000;
  padding: 9px 9px 0;
  height: 177px;
}
.featured_info
{
  
}
.featured_live
{
  background-color: #f5ae1b;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1;
  border-radius: 2px;
}
.featured_lable
{
  border-radius: 0 2px 2px 0;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  background-color: #292725;
  color: #f5ae1b;
  height: 22px;
  line-height: 22px;
  margin-bottom: 5px;
  text-align: center;
}
.sportcolor
{
  background-color:#005411;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0 6px;
  color: #fff;
  border-radius: 2px;
  margin-right: 4px;
  margin-bottom: 5px;
}
.star
{
  position: absolute;
  top: 0;
  z-index: 50;
  right: 0;
  width: 42px;
  height: 42px;
  line-height: 40px;
}
.star i
{
  font-size: 25px;
  color: #d0d0d0;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  margin-top: 12px;
  float: right;
  margin-right: 8px;
}
.featured_title
{
  background-color: #000;
  color: #fff;
  padding: 0 8px;
  font-size: 12px;
  float: left;
  clear: both;
  margin-bottom: 3px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.featured_title b
{
  font-size: 17px;
}
.featured_market
{
  position: absolute;
  bottom: 1px;
  left: 1px;
  right: 1px;
  height: 42px;
  border-radius: 0 0 2px 2px;
  overflow: hidden;
}
.open_all
{
  text-align: left;
  position: relative;
  float: right;
  background: #fff;
  line-height: 42px;
  padding: 0 20px 0 10px;
  font-size: 14px;
  border: solid #d0d0d0;
  border-width: 1px 0 0 1px;
}
.all-count
{
  float: right;
}
.open_all i
{
    position: absolute;
    right: 6px;
    top: 0;
    margin-top: 9px;
    font-size: 20px;
    color: #7e7e7e;
    font-weight: normal;
}
.market_group
{
  overflow: hidden;
  display: block;
  border-top: 1px solid #d0d0d0;
  top:200;

}
.market_group td
{
  height: 42px;
  margin: 0;
  padding: 0;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  font-weight: normal;
  font-size: 14px;
  font-family: inherit;
  text-align: center;
}

.market_group table
{
  height: 100%;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: #fff;

}
.market_group td span
{
  font-weight: bold;
  color: #000;
  padding-right: 8px;
}
ul
{
  list-style: none;
}
.slider-dots
{
    height: 30px;
    text-align: center;
    margin-top: -8px;
    margin-right: 20px;
}
.slider-dots li
{
  display: inline-block;
  vertical-align: top;
}
.slider-dots li button
{
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-color: transparent;
    font-size: 0;
    border: none;
}
.slider-dots .dot
{
    vertical-align: middle;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #7e7e7e;
}
.slider-dots .active .dot
{
    background: #fff;
}
.all_category
{
  height: 44px;
  padding: 0 8px;
  overflow: hidden;
  background-color: #4e4c4a;
  line-height: 42px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 -8px 8px;
  margin-bottom: 0;
}
.category_message
{
    margin-left: 8px;
    vertical-align: middle;
    color: #fff;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.category_accent
{
    color: #f5ae1b;
}
.category_right
{
  float: right;
}
.arrow_right
{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  min-width: 34px;
  height: 24px;
  margin-right: 8px;
  padding: 0 4px;
  border-radius: 2px 0 0 2px;
  background: #f5ae1b;
  color: #000;
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.triangle
{
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 12px 8px;
  border-color: transparent transparent transparent #000;
  border-left-color: #f5ae1b;
}
.all_category i
{
      position: relative;
    color: #acacac;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
.sports_main
{
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  width: 100%;
  min-width: 375px;
    margin: 0 -8px 0px;
}
.live-group
{
  position: relative;
  width: 100%;
  height: 44px;
  margin: 0;
  color: #fff;
  font-size: 16px;
  font-family: inherit;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 10px; 

}
.icon_group
{
  display: inline-block;
  vertical-align: middle;
  font-family: "air-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  width: 24px;
  height: 24px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-right: 5px;
}
.football
{
  background-color: #005411
}
.fb
{
  background-image:  url(./img/F@2x.png);
}
.tennis
{
  background-color: #848805;
}
.tn
{
  background-image: url(./img/TK@2x.png);
}
.basketball
{
  background-color: #9d6102;
}
.bb
{
  background-image: url(./img/B@2x.png);
}
.valleyball
{
  background-color: #8b3b01;
}
.vb
{
  background-image: url(./img/VB@2x.png);
}
.cybersport
{
  background-color: #67317b;
}
.cs
{
  background-image: url(./img/CyberSport@2x.png);
}
.baseball
{
  background-color: #053756;
}
.bs
{
  background-image: url(./img/Baseball@2x.png);
}
.ic_down
{
    position: absolute;
    top: 11px;
    right: 10px;
    display: block;
    color: #9b9b9b;
    font-size: 6px;
}
.block_right
{
  float: right;
  margin-right: 20px;
  font-size: 14px;
}
.popular
{
  margin-top: 8px;
  margin-bottom: 8px;
}
.popular .category_right .arrow_right
{
  background-color: #fff;
  color: #000;
}
.popular .category_right .triangle
{
  border-left-color: #fff;
}
.popular i
{
  transform: rotate(180deg);
}
.novel
{
  text-align: center;
}
.novel_banner
{
    display: inline-block;
    margin: 8px 5px 0;
}
.novel_banner img
{
    width: 100%;
    max-width: 265px;
    height: auto;
    border-radius: 3px;
    vertical-align: top;
}
/*--------*/
.bets_main
{
    height: 545px !important;
    width: 375px;
    background-color: #353432;
    overflow: scroll;
    padding-bottom: 10px;
    display: none;
}
.costyl
{
  padding: 7px;
  background-color: #353432;
}
.bet_history
{   
    width: 351px;
    height: 36px;
    border-radius: 2px;
    background-color: #292725;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-left: 11px;
    font-size: 16px;
    padding: 7px;
}
.bet_history strong
{
  color: #f5ae1b;
  margin-left: 3px;
}
.bet_block
{
  width: 351px;
  height: 155px;
  background-color: #292725;
  border-top: 2px solid #005411;
  margin-left: 11px;
  padding: 8px;
  margin-bottom: 10px;
}
.bet_block_event
{
  position: relative;
  color: #acacac;
  font-size: 12px;
  line-height: 25px;
}
.bet_block_right
{
  float: right;
}
.bet_block_left
{
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
  color: #acacac;
}
.bet_block_left strong
{
  color: #acacac;
  font-weight: bold;
}
.bet-block__head
{
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  margin: 0;
}
.bet-block__detail
{
  color: #fff;
    font-size: 14px;
    line-height: 22px;
}
.bet-block__coefficient
{
      padding-right: 5px;
    color: #f5ae1b;
    font-weight: bold;
}
.bet-block__amount
{
  color: #acacac;
    font-size: 12px;
  margin-bottom: 5px;
}
.bet-block__win
{
  color: #199136;
  font-size: 12px;
  margin-bottom: 5px;
}
.bet-block__placed
{
  color: #acacac;
    font-size: 12px;
}
.bet-block__date
{
  color: #acacac;
  font-size: 12px;
}
/*--------------*/
.BetsTwo
{
	width: 375px;
	height: 545px;
	background-color: #353432;
	display: none;
}
.BetsTwo .bet_block
{
	height: 200px;
	margin-top: 20px;
}
.BetsTwo .bet_history
{

}
.button_bets
{
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: none;
  font-weight: normal;
  color: #000;
  height: 44px;
  line-height: 44px;
  border: 1px solid #000;
  border-radius: 2px;
  font-family: inherit;
  background-color: #f5ae1b;
  text-align: center;
}
.bet-block__win_possible
{
  color: #f5ae1b;
  font-size: 12px;
  margin-bottom: 5px;
}
.bet-block__win_possible strong
{
  font-weight: bold;
}
.Dark
{
	position: fixed;
	width: 100%;
	height: 100%;
	margin-top: -600px;
	opacity: 0.5;
	z-index: 1000;
	display: none;
	background-color: black;
}
.header-icon
{
	width: 138px;
	height: 29px;
	background-color: white;
	margin-left: 140px;
	margin-top: -40px;
	color: #000;
	font-size: 14px;
	padding-top: 5px;
	font-weight: bold;
	background-image: url(./img/pm-logo.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
